<div class="inp">
  <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search">
</div>

<div class="posts">
  <div class="cardid" *ngFor="let d of data | filter:searchKey:'title'">
    <h3>Card №{{ d.id }}</h3>
    <p>User id: {{ d.userId }}</p>
    <p>Title: {{ d.title }}</p>
    <p>Body: {{ d.body }}</p>
  </div>
  <div class="localcards" *ngFor="let p of person">
    <h3>Card №{{ p.id }}</h3>
    <p>User id: {{ p.userId }}</p>
    <p>Title: {{ p.title }}</p>
    <p>Body: {{ p.body }}</p>
  </div>
</div>
